# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so *.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

data/
.DS_Store
.vscode/
main.dSYM/
server_output/
fig/
main
hgmain
notebooks/.ipynb_checkpoints/
python_src/.ipynb_checkpoints/
output/
data/
kdcore/kdmain
bishwa/
kdcore/*.csv
existing/ckmain
existing/bpmain
