# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so *.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

data/
.DS_Store
.vscode/
main.dSYM/
server_output/
fig/
main
hgmain
notebooks/.ipynb_checkpoints/
python_src/.ipynb_checkpoints/
output/
data/
kdcore/kdmain
bishwa/
kdcore/*.csv
existing/ckmain
existing/bpmain
par_src/pcsr
par_src/initoptlocalP
cpp_src/delmain
python_src/sirdata/*
python_src/sirdata_backup/*
python_src/sirdata_naheed_vai/*
camera_ready/
paper/
outputold/
notebooks/*.svg 
notebooks/*.pdf
notebooks/*.png
notebooks/*.txt
notebooks/tmp
notebooks/__pycache__
notebooks/.ipynb_checkpoints
notebooks/*.csv
notebooks_backup.zip